<!DOCTYPE html>
<head>
  <%- include('../partials/head'); %>
</head>
<h1>Hello World!</h1>
<% if (firstName) { %>
<p><%= firstName %> is logged in!</p>
<% } %>

<footer><%- include('../partials/footer'); %></footer>
